.App {
  background: #0079bf;
  height: 100vh;
}

.Header {
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}
